body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #010101;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: rgb(46, 243, 223);
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    width: 30%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(192, 8, 8, 0.1);
}

footer {
    background-color: #3b54c4;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
