body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 10;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about img {
    max-width: 100px;
    border-radius: 50%;
}
.about center {
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
.projects img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}
a {
    color: #007bff;
    text-decoration: none;
}